* {
    /* background:#F9FAFB; */
    box-sizing: border-box;
    font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: 	#282828 ;

}

body {
    margin:0;
    padding:0;
    line-height: 2;

}

/* Navbar styling */

header {
    width: 100%;
    background-color:#FFFFFF;
    border-bottom: 0.01px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
    position:fixed;
}

.navbar {
    display:flex;
    background-color: #FFFFFF;
  
}

.navbar .main-content {
    margin-left:auto ;
    margin-right: 15%;
    background-color: #FFFFFF !important;
    ;
}


.main-title {
    margin-left:15%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



.main-content ul  li {
    display: inline;
    margin: 0 10px;

}

.navbar ul {
    list-style: none;
    margin:0;
    padding:0;
}


.dropdown {
    overflow: hidden;
}

.dropdown-content {

    display:none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown:hover .dropdown-content {
    display: block;
}


/* section Styling */

section.first-section {
    display:flex;
    justify-content:center;
    padding:0 30%;
    text-align: center;


}

section.first-section #title {
    text-align: center;
}


section.professional-experiences {
    display: flex;
    background-color:#ffff;
}


.container {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    margin:5% 10%;
    grid-column-gap: 25px; 
    grid-row-gap: 50px;


}

textarea {
    resize: none;
}


li {
    transition: all 0.2 ease-in-out;
}

.navbar li:hover {
    color:#454545;
    text-decoration: underline;
    text-underline-offset: 5px;

    
}

/* section.professionalExperiences {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:0 10%;
}
 */


 /* Item styling */



 .item {
   
    border: 10px solid #f9fafb;
    border-radius: 10px;
    box-shadow: 0 10px 20px -8px #414545;
  

   
 }

 .item-1, .item-2, .item-3 {

    display:flex;
    justify-content: center;
    align-items: center;
    grid-row: 1 / 2;
    transition: background-color 0.1s linear;
    width: 380px;


 }


 .item-1:hover, .item-2:hover, .item-3:hover{

    background-color:#f8f9f9;

 }

 .item-1:active, .item-2:active, .item-3:active{
    background-color:#ebedef;

 } 



 .item-4 {
    display:none;
    grid-column: span 2;
   
 }


 .item-5 {
    display: none;

 }


 .item-5 h2::after {
    content:'';
    display:inline-block;
    width:25px;
    height:25px;
    background-image:url('/Website/static/images/book.png');
    background-size:contain;
    margin-left: 10px;
   
}

.item-7 h2::after {
    content:'';
    display:inline-block;
    width:25px;
    height:25px;
    background-image:url('/Website/static/images/book.png');
    background-size:contain;
    margin-left: 10px;
   
}

.item-9 h2::after {
    content:'';
    display:inline-block;
    width:25px;
    height:25px;
    background-image:url('/Website/static/images/star.png');
    background-size:contain;
    margin-left: 10px;
   
}




 .item-6 {
    display:block; 
    grid-column: span 2;

 }

 .item-7 {
    display:block; 

 }

 .item-8 {
    display:none; 
    grid-column:span 2;

 }

 .item-9 {
    display:none; 

 }


 /*Footer*/

 footer {
    display: flex;
    border-top: 0.01px solid gray;
    justify-content: space-around;
 }

 .bottom-left-side {
    margin-bottom:10px;
 }

 .bottom-left-side h3 {
    margin:0;
 }

 /* contact-form */


 /* Tutorial 
 #contact-form {
    display:block;
    max-width: 400px;
    max-height: 500px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9fafb;
    margin-bottom: 50px;
 }*/


#contact-form {
    display:grid;
    grid-template-columns:3;
    grid-template-rows: 3;
    column-gap: 10px;
    row-gap: 10px;


}

#name-field {
    grid-column: 1;
    grid-row:1;
}

#subject-field {
    grid-column:2;
    grid-row:1;
}

#mail-field {
    grid-column:3;
    grid-row:1
}

#message-field {
    grid-column:span 3;
    grid-row:2;
}


#button-field {
    grid-column: span 1/3;
    grid-row: 3;

}

 #submit-btn {
    margin-top: 10px;
    width: 100%;
    padding-top:10px;
    padding-bottom: 10px;
    color:black;
    background-color:gray;
    border:none;
 }

 #contact-form label {
    line-height: 2.7em;
 }

#contact-form textarea {
    min-height: 100px;
    font-size: 14px;
}

 .input-field {
    width: 100%;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#fff;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 14px;
 }

.social-medias {
    display: flex;
    justify-content: space-around;
}

.social-medias a i:hover {
    color: gray;

}

.author-name {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}